<div class="contents row">
  <div class = "container">
  <%= form_tag("/tweets", method: :post) do %>
  <h3>投稿する</h3>
    <input type = "text" placeholder = "image url" name = "image">
    <textarea cols = "30" rows = "10" placeholder = "text" name = "text"></textarea>
    <input type = "submit" value = "SEND">
  <% end %>
  </div>
</div>